<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input [(ngModel)]="product.title" #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input [(ngModel)]="product.price" #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required [min]="0">
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">
            Price is required.
          </div>
          <div *ngIf="price.errors.min">
            Price should be 0 or higher.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select [(ngModel)]="product.category" #category="ngModel" ngModel name="category" id="category" class="form-control" required>
          <option *ngFor="let cat of categories$ | async " [value]="cat.key">
            {{ cat.payload.val().name }}
          </option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is required.
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input [(ngModel)]="product.imageUrl" #imgUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
        <div class="alert alert-danger" *ngIf="imgUrl.touched && imgUrl.invalid">
          <div *ngIf="imgUrl.errors.required">
            Img URL is required.
          </div>
          <div *ngIf="imgUrl.errors.url">
            Img URL is Invalid.
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
        <product-card 
          [product]="product"
          [show-actions]="false"
          >
        </product-card>
  </div>
</div>
